@mixin no-bullet() {
   list-style-image: none;
   list-style-type: none;
   left-margin: 0;
}

@mixin no-bullets() {
   list-style: none;
   li {
      @include no-bullet;
   }
}

#description ul, ul.triangle, .exercise_content ul {
   @include no-bullets;

   font-size: inherit;

   li:before {
      @include css-triangle(
         $triangle-size: 5px,
         $triangle-color: $primary-color,
         $triangle-direction: "left");
      display: inline-block;
      left: -2em;
   }
}

