p.small {
   font-size: 70%;
}

#testimonials {
   width: 80%;
   margin-left: 10%;
   font-size: 1.2rem;
}

.intro {
   margin-top: 1rem;
   font-size: 1.2rem;
   em {
      font-style: italic;
      font-weight: bold;
   }
}
.intro.callout {
   font-size: 1.4rem;
}

.section {
   margin-top: 3rem;
   text-align: center;
   margin-bottom: 1em;
}

#slick-questions .subheader {
   //color: $primary-color;
   display: none;
   color: black;
   font-size: 2rem;

   span {
      font-weight: 900;
   }
}

.CTA {
   display: inline-block;
   .button {
      @include button($padding: $button-med, $bg:#ff9900, $bg-hover: #67aaab)
   }
}

/* thumbnails on exercise page */

#thumbnail {
   margin-bottom: 1rem;
}

#thumbnail_big {
   text-align: center;
   width: 350;
   margin-bottom: 1.5rem;
}

#thumbnail, #thumbnail_big {
   .caption {
      font-style: italic;
      font-size: 0.8rem;
   }
}

@media #{$small-only} {
   .CTA {
      .button {
         padding: 2px $button-tny 2px $button-tny;
         font-size: 0.9rem;
      }
   }
}
