#header {
   background: linear-gradient(to top, white, #b0c8e2);
/*  linear-gradient(to bottom, #1c4e81, #010010); */

   border-top: 3px solid #316fa0;
   border-bottom: 3px solid #316fa0;
}

#topbar img {
   position: relative;
   top: 0px;
}

#header_bg {
   width: 100%;
   padding-bottom: 43.278689%;
   position: relative;
}

#header_bg > div {
   position: absolute;
   top: 0; bottom: 0; left: 0; right: 0;
   background: url(../../static/images/spiral_black.svg) no-repeat left bottom;
   background-size: cover;
}

#upper_title {
   width: 100%;
   line-height: 3.3rem;
   background-color: $body-bg;
   text-align: center;
   font-size: 1.7rem;
   z-index: 0;
   small {
      font-size: 0.8rem;
      margin-left: 2rem;
      vertical-align: middle;
   }
   span {
      margin-left: 2rem;
   }

   span.navi {
      font-size: 1.9rem;
      margin-left: 2rem;
      margin-right: 2rem;
      vertical-align:text-middle;
   }
}

#header_bg {
   .exercise_headline {
      display: table;
      position: absolute;
      left: 40%;
      width: 55%;
      height: 100%;
      div {
         display: table-cell;
         vertical-align: middle;
         font-size: 1.7rem;
      }
   }
   .headline {
      position: absolute;
      display: table;
      left: 40%;
      bottom: 33.4%;
      height: 21.5%;
      width: 50%;
      div {
         display: table-cell;
         vertical-align: middle;
         text-align: left;
         color: $black;
         font-size: 1.7rem;
      }
   }
   .CTA {
      position: absolute;
      text-align: right;
      right: 3%;
      bottom: 0%;
   }
}

@media #{$small-only} {
   #header_bg .headline, #header_bg .exercise_headline {
      div {
         font-size: 0.75rem;
      }
   }

   #upper_title {
      font-size: 1.0rem;
   }
}

@media #{$medium-only} {
   #header_bg .headline, #header_bg .exercise_headline {
      div {
         font-size: 1.2rem;
      }
   }
}

