@import "variables";

.brand-primary {
    background-color: $brand-primary;
}

.brand-success {
    background-color: $brand-success;
}

.brand-info {
    background-color: $brand-info;
}

.brand-warning {
    background-color: $brand-warning;
}

.brand-danger {
    background-color: $brand-danger;
}
