{% extends "_bases/_headfoot_js.html" -%}

{% block head %}
  <meta http-equiv="refresh" content="4;url={{next}}" />
  {{ super() }}
{% endblock head %}

{% block upper_title %}
Account is activated.
{% endblock upper_title %}

{% block topbar %}
{% endblock topbar %}

{% block content %}
<div class="row">
  Your email is verified and you are logged in now.
</div>
<div class="row">
  Click on this
  <a href="{{next}}">link</a> if you are not redirected automatically in a few
  seconds.
</div>
{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
