{%- import "_libs/wtf.html" as wtf -%}
{% extends "_bases/_headfoot_js.html" -%}

{% block upper_title %}
Email address is verified
{% endblock upper_title %}

{% block topbar %}
{% endblock topbar %}

{% block content %}
<div class="row">
  <h2>Please select a password for your account, before you continue...</h2>
</div>
<form action="{{url_for('user.activation', uid=uid, activation_hash=activation_hash)}}" method="post" accept-charset="utf-8" data-abide>
  {{ form.csrf_token }}
  <div class="row">
    <div class="columns medium-9">
      <label>Password:
        <input type="password" name="password" id="password" value="" required />
      </label>
      {{ wtf.wtf_errors(form.password, 'Please provide a valid password with at least 6 characters.')|safe }}
    </div>
    <div class="medium-9 columns">
      <label>Confirm password:
        <input type="password" name="confirm" id="confirm" value="" required data-equalto="password" />
      </label>
      {{ wtf.wtf_errors(form.confirm, 'The passwords need to match.')|safe }}<br />
    </div>
    <div class="medium-3 columns">
      <input type="hidden" value="{{next or ''}}" name="next" id="next"/>
      <input type="submit" class="button" name="submit" id="submit" value="Set passwords" />
    </div>
  </div>
</form>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
