{% extends "_bases/_critical_path.html" -%}

{% block upper_title %}
<h1>{{ blog.title }}</h1>
{% endblock upper_title %}

{% block above_the_fold_css %}
{# inject_critical:blog.critical.css: #}
{% endblock above_the_fold_css %}

{% block content %}
<div class="author_info">
  <span class="writtenby">
    by
    <ul>
      {% for author in blog.authors -%}
      <li>{{ author }}</li>
      {%- endfor %}
    </ul>
  </span>
  <div class="published-dates">
    published on {{ blog.date | datetime }}<br />
    {% if blog.updated != blog.date %}
    last update on {{ blog.updated | datetime }}
    {% endif %}
  </div>
</div>

<div class="blog-content">
  <div class="main">
    {{ blog.html | safe }}
  </div>
  <div class="side">
    Other articles:
    <ul>
    {% for b in blogs.list_blogs(category) %}
    {% if blog.slug != b.slug %}
    <li><a href="{{url_for('blog.blog', category=category, slug=b.slug)}}">
        {{b.title}}
    </li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>

<script id="below-the-fold">
loadCSS('/static/styles/main.css', window.document.getElementById('below-the-fold'));
</script>
<noscript>
<!-- build:css /static/styles/main.css media="all" async -->
<link rel="stylesheet" href="/static_gen/styles/main.css" media="all" async />
<!-- endbuild -->
</noscript>
{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
