{% extends "_bases/_headfoot_js.html" %}

{% block upper_title %}
<h1>{{ category_name }} blogs</h1>
{% endblock upper_title %}

{% block above_the_fold_css %}
{# inject_critical:blog_category.critical.css: #}
{% endblock above_the_fold_css %}

{% block content %}
  <div class="blog-cards">
    {% for blog in category_blogs %}
    <section>
      {% if not category %}
      {% set bcategory = blog.category_slugs[0] %}
      {% else %}
      {% set bcategory = category %}
      {% endif %}
      {% set target = url_for('blog.blog', category=bcategory, slug=blog.slug) %}
      <h1>{{blog.title}}</h1>
      <p class="summary">{{blog.summary}}</p>
      <a role="button" class="read-more btn btn-primary" href="{{ target }}">Read more...
      </a>
      <span class="last_update">{{blog.updated | datetime}}</span>
    </section>
    </hr>
    {% endfor %}
  </div>
{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
