{% extends "_bases/_headfoot_js.html" %}

{% block upper_title %}
<h1>{{ category_name }} blogs</h1>
{% endblock upper_title %}

{% block content %}
  <div class="row">
    {% for blog in category_blogs %}
    <div class="blog_card">
      {% if not category %}
      {% set bcategory = blog.category_slugs[0] %}
      {% else %}
      {% set bcategory = category %}
      {% endif %}
      {% set target = url_for('blog.blog', category=bcategory, slug=blog.slug) %}
      <h1>{{blog.title}}</h1>
      <div class="row">
      <p class="summary col-sm-10">{{blog.summary}}</p>
      <a role="button" class="read-more col-sm-2 btn btn-primary" href="{{ target }}">Read more...
      </a>
      </div>
      <span class="last_update">{{blog.updated | datetime}}</span>
    </div>
    </hr>
    {% endfor %}
  </div>
{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
