{% extends "_bases/_critical_path.html" -%}

{% block head %}
{{ super() }}
<style type="text/css" media="screen">
body {
  height: 100%;
}
</style>
{% endblock head %}

{% block above_the_fold_css %}
{# inject_critical:index.critical.css: #}
{% endblock above_the_fold_css %}

{% block header %}
{# <h1>Index page</h1> #}
{% endblock header %}

{% block content %}
<div class="jumbotron">
  <p class="text-center">
  Martin Drohmann is a new Dad who is finding his way as a
  <a href="{{url_for('blog.category_listing', category='web-development')}}">
     web developer,
  </a>
  {#
  creating products he belives in,
  #}
  with a background in
  <a href="{{url_for('index.publications')}}">computational mathematics</a>
  and some thoughts about this world.
  </p>
</div>

<script id="below-the-fold">
loadCSS('/static/styles/main.css', window.document.getElementById('below-the-fold'));
</script>
<noscript>
<!-- build:css /static/styles/main.css media="all" async -->
<link rel="stylesheet" href="/static_gen/styles/main.css" media="all" async />
<!-- endbuild -->
</noscript>
{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
