{%- import "_libs/wtf.html" as wtf -%}
{% extends "_bases/_headfoot_js.html" -%}

{% block upper_title %}
Set a password
{% endblock upper_title %}

{% block content %}
<div class="row">
 <div class="columns small-12">
   After signing up, we sent you an email with an activation link.  Please
   click on this link, or request a new activation email.
 </div>
</div>
<form action="{{url_for('user.forgot_password')}}" method="post" accept-charset="utf-8" data-abide>
  {{ form.csrf_token }}
  <div class="row">
    <div class="columns medium-9">
      <label>Username or email:
        <input type="text" name="user" id="user" value="" required />
      </label>
      {{ wtf.wtf_errors(form.user, 'Please provide your username or your registered email address.')|safe }}<br />
    </div>
    <div class="medium-3 columns">
      <input type="submit" class="button" name="submit" id="submit" value="Resend activation mail" />
    </div>
    <div class="small-12 columns">
      <ul>
        <li>
          <a href="{{url_for('user.signup')}}">You are not registered yet?  Sign up for an account. It's free.</a>
        </li>
      </ul>
    </div>
  </div>
</form>
{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
