{%- import "_libs/wtf.html" as wtf -%}
{% extends "_bases/_headfoot_js.html" -%}

{% block upper_title %}
Sign up for an account.
{% endblock upper_title %}

{% block content %}
<form action="{{url_for('user.signup')}}" method="post" accept-charset="utf-8" data-abide>
  {{ form.csrf_token }}
  <div class="row">
    <div class="full">
      <label>Name:
        <input type="text" name="name" id="name" value="" required />
      </label>
      {{ wtf.wtf_errors(form.name, 'Please fill in your name in the form. Thank you!')|safe }}<br />
    </div>
    <div class="full">
      <label>Email:
        <input type="email" name="email" placeholder="youremail@address.com" id="email" value="" required />
      </label>
      {{ wtf.wtf_errors(form.email, 'An email address is required.')|safe }}<br />
    </div>
    <div class="full">
      <input type="checkbox" name="wants_newsletter" />
      <label>
        Send me newsletter updates.
      </label>
    </div>
    <div class="full">
      <input type="submit" class="button" name="submit" id="submit" value="Sign up!" />
    </div>
  </div>
</form>

<p>
  <a href="{{url_for('user.login')}}">Already have an account?  Login here.</a>
</p>

{% endblock content %}

{# vim: set ft=htmljinja sw=2 et spell spelllang=en: #}
