<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{config.META_DESCRIPTION}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.TITLE }}</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% block head %}
    {% endblock head %}
  </head>
  <body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-577FSM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-577FSM');</script>
<!-- End Google Tag Manager -->
  {% block body %}

    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<div id="topbar">
  {% block topbar %}
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">{{config.TITLE | title }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="active">
          <a href="#">Active</a>
        </li>
      </ul>

      <ul class="left">
        <li>
          <a href="#">Left Menu item</a>
        </li>
      </ul>
    </section>
  </nav>
  {% endblock topbar %}
</div>
<div id="header">
  {% block header %}
  <div id="upper_title">
    {% block upper_title %}
    {% endblock upper_title %}
  </div>
  {% endblock header %}
</div>

{% block flashes %}
{% with messages = get_flashed_messages(with_categories=true, category_filter=['error', 'success']) -%}
{% if messages -%}
{% for category, message in messages -%}
<div class="row">
  <div class="columns small-12">
    <div id="flash_message_{{loop.index}}" data-alert class="alert-box-{{category}}" tabindex="{{loop.index0}}" aria-live="assertive" role="dialogalert">
      {{ message }}
      <button href="#" tabindex="{{loop.index0}}" class="close" aria-label="Close Alert">&times;</button>
    </div>
  </div>
</div>
{% endfor -%}
{% endif -%}
{% endwith -%}
{% endblock flashes %}

<div class="content" style="margin-top: 1rem;">
{% block content %}
{% endblock content %}
</div>

  {% block footer %}
  {% endblock footer %}

{% block foot %}
{% endblock foot %}

{% endblock body %}

</body>
</html>
{# vim:set et sw=2 ts=8 ft=htmljinja spell spelllang=en: #}
