{% extends "_bases/_base.html" -%}
{% block head -%}
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <link rel="icon" href="static/images/favicon.ico">

    <!-- build:css static/styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="/bower_components/slick.js/slick/slick.css" media="all"/>

    <!-- build:css /static/styles/main.css -->
    <link rel="stylesheet" href="/static_gen/styles/main.css" media="all">
    <!-- endbuild -->

    <script async src="bower_components/modernizr/modernizr.js" media="all"></script>
{%- endblock head %}

{% block navbar %}
  <nav class="top-bar" data-topbar role="navigation" data-options="mobile_show_parent_link: false; is_hover: true;" >
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{url_for('index.index')}}">{{config.TITLE | title }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        {% if current_user.is_authenticated() %}
<!--        <li>
          <a href="{{url_for('user.settings')}}">My Account</a>
          </li> -->
        <li>
          <a href="{{url_for('user.logout')}}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{{url_for('user.login')}}">Login</a>
        </li>
        <li>
          <a href="{{url_for('user.signup')}}">Sign Up</a>
        </li>
        {% endif %}
      </ul>

      <ul class="left">
        <li class="has-dropdown">
          <a href="{{url_for('blog.category_listing')}}">Blogs</a>
          <ul class="dropdown">
            <li><label></label></li>
            {% for slug, category in blogs.get_categories().iteritems() %}
            <li><a href="{{url_for('blog.category_listing', category=slug)}}">{{category}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="{{url_for('index.contact')}}">Contact</a>
        </li>
      </ul>
    </section>
  </nav>
{% endblock navbar %}

<hr />
{% block footer %}
  <div id="footer" class="footer">

  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo">
      {{ config.COPYRIGHT | safe }}
      </p>
      <p class="footer-links">
        <a href="{{url_for('index.index')}}">Home</a>
        <a href="{{url_for('blog.category_listing')}}">Blog</a>
      </p>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <p class="about">{{config.TITLE}}</p>
      <p class="about subheader">{{config.HEADLINE}}</p>

      <ul class="inline-list social">

        <a href="{{config.SOCIAL.facebook.url}}"><i class="fi-social-facebook"></i></a>
        <a href="http://www.twitter.com/{{config.SOCIAL.twitter.handle}}"><i class="fi-social-twitter"></i></a>
        <a href="mailto:{{config.CONTACT_email}}"><i class="fi-mail"></i></a>
      </ul>

    </div>

    <div class="small-12 medium-12 large-3 columns">
      <div class="contact">
        Questions?  <a href="{{url_for('index.contact')}}">Contact us</a>
      </div>
    </div>

  </div>
<!--    <div class="row">
    <a href="{{url_for('index.contact')}}" class="right">Contact us</a>
    </div>
    </div> -->
{% endblock footer %}

{% block foot %}
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/bower_components/foundation/js/foundation.js"></script>
  <script src="/bower_components/foundation/js/foundation/foundation.accordion.js"></script>
  <script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
  <script src="/bower_components/foundation/js/foundation/foundation.alert.js"></script>
  <script src="/bower_components/slick.js/slick/slick.js"></script>

  <!-- build:js /static/scripts/main.js -->
  <script src="/static/scripts/main.js"></script>
  <!-- endbuild -->
{% endblock foot %}
</body>
</html>
