{% extends "_bases/_base.html" -%}
{% block head -%}
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-72x72.png">
    <link href="{{url_for('blog.recent_feed')}}" type="application/atom+xml" rel="alternate" title="{{ config.TITLE }} ATOM Feed" />
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- build:css /static/styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="/bower_components/slick.js/slick/slick.css" media="all"/>

    <!-- build:css /static/styles/main.css -->
    <link rel="stylesheet" href="/static_gen/styles/main.css" media="all">
    <!-- endbuild -->

    <script async src="bower_components/modernizr/modernizr.js" media="all"></script>
{%- endblock head %}

{% block navbar %}
  <nav class="navbar navbar-default">
    {# choose container instead of container-fluid, for a menu that is not full-width #}
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index.index')}}">
          {#- uncomment for a brand image
          <img alt="Brand" src="..." />
          -#}
          {{config.TITLE}}</a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated() %}
          <!--        <li>
            <a href="{{url_for('user.settings')}}">My Account</a>
            </li> -->
            <li>
              <a href="{{url_for('user.logout')}}">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{{url_for('user.login')}}">Login</a>
            </li>
            <li>
              <a href="{{url_for('user.signup')}}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-left">
          {# <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> #}
          <li class="dropdown {% if menu.select == 'blogs' %}active{% endif%}">
            <a href="{{url_for('blog.category_listing')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogs <span class="caret"></span></a>

            <ul class="dropdown-menu">
              {% for slug, cat_name in blogs.get_categories().iteritems() %}
              <li class="{% if (category == slug) %}active{% endif %}">
                <a href="{{url_for('blog.category_listing', category=slug)}}">{{cat_name}}</a>
              </li>
              {% endfor %}
              {#-
              <li role="separator" class="divider">
              #}
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>
{% endblock navbar %}

<hr />
{% block footer %}
  <div id="footer" class="footer container">
    <div class="row">
      <section class="info">
        <p class="logo">
        {{ config.COPYRIGHT | safe }}
        </p>
        <p class="footer-links">
        <a href="{{url_for('index.index')}}">Home</a>
        <a href="{{url_for('blog.category_listing')}}">Blog</a>
        </p>
      </section>
      <section class="social">
        <p class="about">{{config.TITLE}}</p>
        <p class="about subheader">{{config.HEADLINE}}</p>

        <ul class="inline-list social">

          <a href="{{config.SOCIAL.facebook.url}}"><i class="fa fa-facebook"></i></a>
          <a href="http://www.twitter.com/{{config.SOCIAL.twitter.handle}}"><i class="fa fa-twitter"></i></a>
          <a href="mailto:{{config.CONTACT_email}}"><i class="fa fa-mail"></i></a>
        </ul>
      </section>
      <section class="contact text-center">
        <div class="contact">
          <a href="{{url_for('index.contact')}}">Write me</a>
        </div>
      </section>

    </div>
  </div>
{% endblock footer %}

{% block foot %}
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  {# uncomment if you want to use a flexible carousel
  <script src="/bower_components/slick.js/slick/slick.js"></script> #}

  <!-- build:js /static/scripts/main.js -->
  <script src="/static/scripts/main.js"></script>
  <!-- endbuild -->
{% endblock foot %}
</body>
</html>
